[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pytest-mock = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
typing_extensions = "*"
httpx = "== 0.17.1"
boto3 = "*"
python-multipart = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
